/* 폰트 외부에서 가져오기 */
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* 배경 컬러 지정 */
body{
    height: 100vh;
    /* vh는 뷰포트의 너비값을 기준으로 산정하는 것. */
    width: 100%;
    overflow: hidden;
    /* 밖으로 삐져나온 부분은 숨긴다. body 부분에서 삐져나오는 것들을 숨기는것. 포토샵 클리핑기능으로 생각할 수 있음. */
    display: flex;
    /* 아이템 가로로 배치 */
    justify-content: center;
    /* justify는 가로축 기준으로 정렬. center로 컨테이너 중앙으로 정렬한다. */
    align-items: center;
    background: linear-gradient(#89c0ed , #ba728a);
}
.circles{
    position: absolute;
    /* 절대위치 */
    bottom: -100px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* 가로축 기준으로 내부 요소 주위에 동일한 간격을 주는 것이다. */
}

.circles span{
    /* 각자의 원에 설정넣기 */
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    /* 원형으로 세팅 */
    backdrop-filter: blur(5px);
    /* 뒷부분 블러처리 backdrop-filter 는 해당 물체 뒤에 영향을 준다. */
    animation: move 10s linear infinite;
    /* 10초동안 움직이고 선형으로 무한히 움직임 */
    position: relative;
    /* 상대위치 */
    overflow: hidden;
    /* 밖으로 나온 부분 숨기기 */
}

@keyframes move {
    100%{
        transform: translateY(-90vh);
    }
}

.circles span.uno{
    animation-delay: 2s;
    transform: scale(2);
}

.circles span.dos{
    animation-delay: 3.5s;
    transform: scale(1.5);
}

.circles span.tres{
    animation-delay: 0.2s;
    transform: scale(3);
}

.circles span.cuatro{
    animation-delay: 5s;
    transform: scale(2.5);
}

.circles span.cinco{
    animation-delay: 7s;
    transform: scale(2);
}

.circles span.seis{
    animation-delay: 3s;
    transform: scale(4);
}

.circles span.siete{
    animation-delay: 4s;
}

.circles span:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    height: 60px;
    width: 40%;
    transform: skew(45deg) translateX(150px);
    background: rgba(255, 255, 255, 0.15);
    animation: mirror 3s linear infinite;
}

@keyframes mirror {
    100%{
        transform: translateX(-450px);
    }
}

.circles span.uno:before{
    animation-delay: 1s;
}

.circles span.dos:before{
    animation-delay: 1.8s;
}

.circles span.tres:before{
    animation-delay: 2.3s;
}

.circles span.cuatro:before{
    animation-delay: 3.9s;
}

.circles span.cinco:before{
    animation-delay: 3.4s;
}

.circles span.seis:before{
    animation-delay: 2.8s;
}

.circles span.siete:before{
    animation-delay: 4.5s;
}

.container{
    width: 360px;
    padding: 15px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    border-top:1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.container input[type="text"]{
    width:100%;
    height: 100%;
    margin-top: 20px;
    outline: none;
    border: none;
    color: #ffffff;
    text-align: right;
    font-size: 30px;
    padding-right: 40px;
    background: transparent;
}

.container input[type="button"]{
    height: 65px;
    color: #ffffff;
    width: calc(100% / 4 - 5px);
    background: transparent;
    border-radius: 12px;
    margin-top: 15px;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container input[type="button"]:hover {
    background: rgba(255, 255, 255, 0.1);
}